.sass-cache
.project
_.*
.DS_Store
Thumbs.db
.settings
/.gitmodules
.tmp
.idea
OLD*
node_modules
bower_components
*.log
.map
.wgt
.tproject
*.rar
.zip
dist
dist/
.lock
.sign
*.wgt
.vscode
package.json
yarn.lock